@font-face {
    font-family: "pokemonLight";
    src: url("../fonts/pokemon.ttf");
}

@font-face {
    font-family: "pokemonStrong";
    src: url("../fonts/PokemonSolid.ttf");
}


body {
    background-image: url("background.jpg");
    background-size: cover;
}